{% if page.tooltip or site.tooltip %}
<script type="text/javascript">
  (function() {
    const footnotes = document.querySelectorAll(".footnotes > ol > li");
    const returnMarkRegex = /&nbsp;<a href="#fnref:\d+" class="reversefootnote">↩<\/a>/;
    const footnoteMarks = document.querySelectorAll("a.footnote");
    for (let index of footnoteMarks.keys()) {
      const content = footnotes[index].innerHTML.replace(returnMarkRegex, "");
      const footnote = footnoteMarks[index];
      tippy(footnote, {
        content: content,
        arrow: true,
        animation: 'shift-away',
        interactive: true,
        theme: 'light',
        // trigger: 'click',
        touch: false,
        touchHold: true,
      });
    }
  })();
</script>
{% endif %}

<script type="text/javascript">
  const footnoteTitleText =
    {% if page.footnote_title %}
      "{{ page.footnote_title }}"
    {% elsif page.locale == "zh-Hans" %}
      "注释"
    {% elsif page.locale == "zh-Hant" %}
      "注釋"
    {% elsif page.locale == "en" %}
      "Footnotes"
    {% elsif page.locale == "ja" %}
      "注解"
    {% else %}
      null
    {% endif %}
    ;
  console.log(footnoteTitleText);
  if (footnoteTitleText !== null) {
    (function() {
      const footnotes = document.querySelector("div.footnotes");
      if (footnotes !== null) {
        const title = document.createElement("h2");
        title.innerHTML = footnoteTitleText;
        footnotes.parentNode.insertBefore(title, footnotes);
      }
    })();
  }
</script>

<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      {% if site.github_username %}
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a class="social-link social-twitter" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="icon-twitter"></i>
      </a>
      {% endif %}
      {% if site.instagram_username %}
      <a class="social-link social-instagram" href="https://instagram.com/{{ site.instagram_username }}">
        <i class="icon-instagram"></i>
      </a>
      {% endif %}
      <a class="social-link social-rss" href="{{ "/feed.xml" | relative_url  }}" target="_blank">
        <i class="icon-rss"></i>
      </a>
    </div>
    <div class="credits">
      KAGAMI, made with <i class="icon-heart"></i> by Kamikat
    </div>
  </div>

</footer>
