<header class="site-header">

  <div class="wrapper">

    <a class="site-title" style="text-decoration: none;" href="{{ "/" | relative_url }}">{{ site.author | escape }}<span style="color: #888">'s blog</span></a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>

  </div>

</header>
